<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapPlay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index">  
        <%= image_tag("awoolo_header_logo.png", :alt => "awoolo_h_logo", :class => "topnavlogo") %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--link for testing to database CRUD actions-->
      <%= link_to 'Products Database - Testing !', controller: 'products' %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OFFICE SOLUTIONS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here
                  <p>text about product here</p>
                </a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MEDIA
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here
                  <p>text about product here</p>
                </a>
              </div>
          </li>   
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SUPPORT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another action
                  <p>text about product here</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here
                  <p>text about product here</p>
                </a>
              </div>
          </li>                            
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <%= yield %>
 
    <div class = "f-container" >
      <div class="row">
        <div class="col-4">
        <ul class = "fc1nav">
            <li><a  class = "footerhead" href="">OFFICE SOLUTIONS</a></li>
            <li><a href="about">Word Processor</a></li>
            <li><a href="">PDF Converter</a></li>
            <li><a href="">Zip File Opner</a></li>        
          </ul>
        </div>
        <div class="col-4">
        <ul class = "fc1nav">
            <li><a class = "footerhead" href="">MEDIA</a></li>
            <li><a href="">Media Player</a></li>
            <li><a href="">Radio App</a></li>
            <li><a href="">Video File Converter</a></li>        
          </ul>
        </div>      
        <div class="col-4" id="column-r">
        <ul class = "fc1nav">
            <li><a class = "footerhead" href="">SUPPORT</a></li>
            <li><a href="">FAQS</a></li>
            <li><a href="">Download & Install</a></li>
            <li><a href="">Contact</a></li>        
          </ul>
        </div>      
      </div>
    </div>

    <div class = "footer2">
        <div class = "footlogo">
          <%= image_tag("awoolo_footer_logo.png", :alt => "awoolo_h_logo", :class =>"footerlogoimage") %>        
          <p class="footp">Copyright	&#169 2018 Awooloo. All rights reserved.</p>        
          <div class = "footbotright">
            <p class="privacypolicy">Privacy Policy</p>
            <p class="termsofuse">Terms of Use</p>
            <p class="cookies">Cookies</p>
          </div>
        </div>
    </div>      
  </body>
</html>
